@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family:"Nsans Regular";
  src:url("./asset/Netflixsans-Regular.woff2")
}
@font-face{
  font-family:"Nsans Light";
  src:url("./asset/Netflixsans-Light.woff2")
}

@font-face{
  font-family:"Nsans Medium";
  src:url("./asset/Netflixsans-Medium.woff2")
}

@font-face{
  font-family:"Nsans Bold";
  src:url("./asset/Netflixsans-Bold.woff2")
}


body{
  font-family:'Nsans Regular','Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
  background-color:#050404;
  color: #fff;
}
